<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HeadFirstServletChap03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>init</servlet-name> <!-- 浏览器直接打开http://localhost:8080/HeadFirstServletChap03/init -->
  	<jsp-file>/sysInit.jsp</jsp-file>
  	<init-param> <!-- 初始化servlet的时候给了初始化参数 -->
  		<param-name>jdbcName</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbUrl</param-name>
  		<param-value>jdbc:mysql://localhost:3306/db_xx</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>init</servlet-name> <!--通过名字相同来进行上下关联-->
  	<url-pattern>/init</url-pattern> <!--请求地址-->
  </servlet-mapping>
</web-app>